<%- model_class = Staff -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:position) %>:</strong></dt>
  <dd><%= @staff.position %></dd>
  <dt><strong><%= model_class.human_attribute_name(:name) %>:</strong></dt>
  <dd><%= @staff.name %></dd>
  <dt><strong><%= model_class.human_attribute_name(:experience) %>:</strong></dt>
  <dd><%= @staff.experience %></dd>
  <dt><strong>Work on station:</strong></dt>
  <dd><%= @staff.station.try(:name) %></dd>
  <dt><strong>Work on train:</strong></dt>
  <dd><%= @staff.train.try(:name) %></dd>
  <dt><strong><%= model_class.human_attribute_name(:about) %>:</strong></dt>
  <dd><%= @staff.about %></dd>
</dl>
  <%= link_to t('.back', :default => t("helpers.links.back")),
                staffs_path, :class => 'btn btn-default'  %>
<% if current_user.try(:admin?) %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
                edit_staff_path(@staff), :class => 'btn btn-default' %>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                staff_path(@staff),
                :method => 'delete',
                :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                :class => 'btn btn-danger' %>
<% end %>
