<%= form_for(position) do |f| %>
  <% if position.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(position.errors.count, "error") %> prohibited this position from being saved:</h2>

      <ul>
      <% position.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :arrival %>
    <%= f.text_field :arrival %>
  </div>

  <div class="field">
    <%= f.label :dispatch %>
    <%= f.text_field :dispatch %>
  </div>

  <div class="field">
    <%= f.label :to %>
    <%= f.datetime_select :to %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
